.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, sans-serif;
    margin-top: 50px;
  }

.form-container h3{
  font-size: 20px;
  color: #8C281F;
  font-weight: 400;
}

.ad-form {
    display: flex;
    gap: 2rem;
    width: 60%;
  }
  
.form-left {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    flex: 1;
  }
  
.ad-form label {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: #8C281F;
    margin-bottom: 30px;
  }
  
.ad-form input,
.ad-form select,
.ad-form textarea {
    padding: 8px;
    border: 1px solid rgb(140, 40, 31, 0.7);
    margin-top: 5px;
    font-size: 16px;
  }
  
.ad-form textarea {
    resize: none;
    height: 150px;
  }
  
.image-upload {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap: wrap;
  }
  
.upload-icon {
    width: 60px;
    height: 60px;
    background-color: #5b2d2d;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    position: relative;
  }
  
.submit-btn {
    background-color: #000;
    color: #fff;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    font-size: 16px;
    margin-top: 20px;
    cursor: pointer;
  }
  
.thumbnail-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-bottom: 30px;
  }

.ad-form input[type="text"]{
  height: 50px;
  width: 700px;
  box-sizing: border-box;
}

.ad-form select{
  width: 300px;
  height: 50px;
}
  
.thumbnail {
    width: 185px;
    height: 140px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    background-color: #D94A4A;
    cursor: pointer;
  }
  
.thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-color: #D94A4A;

    pointer-events: none;
  }
  
.placeholder {
    font-size: 32px;
    color: #aaa;
    text-align: center;
  }
  
.main-image-upload {
    width: 225px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 20px;
    cursor: pointer;
    background-color: #8C281F;
  }
  
.main-image-upload img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
.delete-rotate-container {
    position: absolute;
    top: 0;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px;
    width: 100%;
    height: 100%;
    transition-duration: .3s;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    box-sizing: border-box;
    gap: 10px;
}

.delete-rotate-container:hover{
    opacity: 1;
}

.delete-btn-icon-container, .rotate-btn-icon-container{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    transition-duration: .3s;
}

.delete-btn-icon-container:hover, .rotate-btn-icon-container:hover{
  background-color: #aaa;
}

.main-image-text{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #D94A4A;
  color: white;
  padding: 5px 10px;
  margin: 0;
  font-size: 12px;
}

.thumbnail {
  transition: background-color 0.3s ease;
}

.thumbnail img {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.thumbnail.is-dragging {
  opacity: 0;
  background-color: rgba(217, 74, 74, 0.3);
}

.delete-btn-dragged{
  display: none !important;
}

.price-container{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 10px;
}

.price-container input[type="number"]{
  width: 200px;
  height: 50px;
  box-sizing: border-box;
}

.price-container select{
  width: 100px;
}