.favorite-page-container{
    width: 100%;
}

.favorite-page-container > div:first-of-type{
    background-color: white;
}

.favorite-page-top{
    width: 70%;
    margin: 0 auto;
    padding-top: 30px;
}

.favorite-page-top-header{
    font-size: 36px;
    color: #8C281F;
    font-weight: 600;
    margin-bottom: 100px;
    margin-top: 0;
}

.favorite-page-top-btn{
    border: none;
    font-size: 16px;
    color: rgba(140, 40, 31, 0.7);
    width: 200px;
    padding: 10px 20px;
    box-sizing: border-box;
    transition-duration: .3s;
    border-bottom: 2px solid transparent;
    background-color: transparent;
}

.favorite-page-top-btn-active{
    border-bottom: 2px solid #8C281F;
    color: rgba(140, 40, 31, 1);
    font-weight: bold;
}

.favorite-page-top-btn-not-active:hover{
    border-bottom: 2px solid rgba(140, 40, 31, 0.3);
}

.favorite-items{
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
    margin-top: 30px;
}

.favorite-items-no-items{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    margin-bottom: 300px;
}

.favorite-items-no-items p{
    font-size: 24px;
    margin: 0;
    color: #D94A4A;
}

.favorite-items-no-items-header{
    font-weight: 600;
}