nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #999999;
    background: rgb(234,234,234);
    background: #f2f2f2;
    padding: 15px 90px;
  }

.logo-container img{
    object-fit: cover;
    width: 200px;
    height: 50px;
  }

.nav-items-container a{
    color: #D94A4A;
  }

.nav-items-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    font-size: 16px;
  }

.profile-btn-container{
    position: relative;
  }

.profile-btn{
    border: none;
    outline: none;
    width: 50px;
    height: 50px;
    padding: 0;
    border-radius: 50%;
  }

.nav-items-container .login-register-btn{
    border: none;
    font-size: 16px;
    color: #D94A4A;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

.nav-items-container .login-register-btn i{
    font-size: 22px;
  }

.nav-items-container .new-btn{
    border: none;
    padding: 8px 24px;
    color: white;
    font-size: 16px;
    background-color: transparent;
    background-color: black;
    transition-duration: .2s;
    box-sizing: border-box;
    border: 1px solid transparent;
  }

.nav-items-container .new-btn:hover{
  background-color: white;
  color: #D94A4A;
  border: 1px solid #D94A4A;
}