.navigation-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 0px;
    width: 70%;
    margin: 0 auto;
  }

.nav{
  width: 100%;
  border-bottom: 1px solid #999999;
  background: #f2f2f2;
}

.logo-container img{
    object-fit: cover;
    width: 200px;
    height: 50px;
  }

.nav-items-container a{
    color: #D94A4A;
    font-size: 16px;
  }

.nav-items-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 50px;
    font-size: 16px;
  }

.profile-btn-container{
    position: relative;
  }

.nav-items-container .login-register-btn{
    border: none;
    font-size: 16px;
    color: #D94A4A;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

.nav-items-container i{
    font-size: 22px;
  }

.nav-items-container .new-btn{
    border: none;
    padding: 8px 24px;
    color: white;
    font-size: 16px;
    background-color: transparent;
    background-color: #D94A4A;
    transition-duration: .2s;
    box-sizing: border-box;
    border: 1px solid transparent;
  }

.nav-items-container .new-btn:hover{
  background-color: white;
  color: #D94A4A;
  border: 1px solid #D94A4A;
}

.nav-items-container .hover-brightness b{
  transition-duration: .3s;
}

.nav-items-container .hover-brightness:hover b{
  filter: brightness(1.5);
}