.home-section1-top-subheader{
    width: 40%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
  }
  
.home-section1-top-subheader div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  
.home-section1-between-headers{
    color: #B41F1F;
    margin-bottom: 50px;
  }
  
.home-section1-top-header-container{
    width: 100%;
    background-color: #D94A4A;
    padding-top: 60px;
    padding-bottom: 10px;
    text-align: center;
  }
  
.home-section1-btn-container{
    text-align: center;
    width: 100%;
    font-size: 36px;
    margin-top: 20px;
  }
  
.home-section1-btn-container button{
    background-color: black;
    border: unset;
    width: 130px;
    height: 60px;
  }
  
.home-section1-darker-text{
    color: #8c281f;
    font-weight: 100;
  }
  
.home-section1-top-header{
    font-size: calc(16px + 2vw);
    color: white;
  }
  
.home-section1-btn-header{
    font-size: calc(16px + 3vw);
    color: #D94A4A;
  }
  
.home-section1-top-container{
    letter-spacing: 3px;
    margin: 60px auto;
    box-sizing: border-box;
    width: 100%;
  }
  
.home-section1-middle-container{
    display: flex;
    width: 80%;
    margin: 70px auto;
    gap: 40px 40px;
    justify-content: space-between;
    align-items: center;
  }
  
.home-section1-middle-container li{
    color: black;
    border: 1px solid #8e8e8e;
    width: 160px;
    height: 100px;
    box-sizing: border-box;
  }
  
.home-section1-middle-container li a{
    color: black;
    width: 100%;
    height: 100%;
    display: block;
    padding: 10px 20px;
    box-sizing: border-box;
  }