.categories-section-bottom .promo-items .single-item-top-price{
    font-size: 16px;
  }
  
.categories-section-bottom .promo-items .single-item a > img{
    height: auto;
  }

.single-item{
    width: 300px;
    height: 360px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 500;
    flex-direction: column;
    background-color: white;
    border-radius: 6px;
  }
  
.single-item a{
    height: 100%;
    width: 100%;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
  
.single-item img{
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }

.single-item-top{
  width: 100%;
  height: 68%;
}

.single-item-img{
    width: 100%;
  }
  
.single-item-profile-img{
    width: 21px;
    height: 21px;
    border-radius: 50%;
  }
  
.single-item-name-heart{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #8C281F;
    box-sizing: border-box;
    padding: 0px 20px;
  }

.single-item-name-heart i {
    transition: color 0.3s ease, transform 0.3s ease;
    color: #8C281F;
}

.single-item-name-heart i.fa-solid {
    color: #D94A4A;
    transform: scale(1.2);
}
  
.single-item h3{
    margin: 0;
    font-size: 16px;
    margin-bottom: 5px;
    font-weight: 500;
    line-height: 1.2em;
    max-height: 2.4em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
    width: 100%;
  }

.single-item .single-item-date-address p{
    margin: 0;
    font-size: 13px;
  }

.single-item-top-price{
  margin: 0;
  color: #8C281F;
  padding: 0 20px;
}

.single-item-date-address {
  width: 100%;
  padding: 10px 20px;
  box-sizing: border-box;
}

.single-item-date-address p{
  width: 100%;
  overflow: hidden;
  text-wrap: nowrap;
  text-overflow: ellipsis;
}