.categories-section-bottom .promo-items .single-item-name-price p{
    font-size: 16px;
  }
  
.categories-section-bottom .promo-items .single-item a > img{
    height: 166px;
  }

.single-item{
    width: 212px;
    height: 240px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
  }
  
.single-item a{
    height: 100%;
    width: 100%;
    color: black;
  }
  
.single-item img{
    object-fit: cover;
  }
  
.single-item a > img{
    height: 118px;
  }
  
.single-item-img{
    width: 100%;
    height: 118px;
  }
  
.single-item-profile-img{
    width: 21px;
    height: 21px;
    border-radius: 50%;
  }
  
.single-item-name-price{
    display: flex;
    align-items: start;
    justify-content: space-between;
    color: #8C281F;
  }
  
.single-item h3{
    margin: 0;
    font-size: 13px;
    margin-bottom: 5px;
    font-weight: 500;
  }
  
.single-item p{
    margin: 0;
    font-size: 13px;
  }