.categories-section-bottom .promo-items .single-item-profile-img{
    width: 30px;
    height: 30px;
  }
  
.categories-section-bottom .promo-items .single-item-profile-price p{
    font-size: 16px;
  }
  
.categories-section-bottom .promo-items .single-item a > img{
    height: 166px;
  }

.single-item{
    width: 212px;
    height: 240px;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 500;
  }
  
.single-item a{
    height: 100%;
    width: 100%;
    color: black;
  }
  
.single-item img{
    object-fit: cover;
  }
  
.single-item a > img{
    height: 118px;
  }
  
.single-item-img{
    width: 100%;
    height: 118px;
  }
  
.single-item-profile-img{
    width: 21px;
    height: 21px;
    border-radius: 50%;
  }
  
.single-item-profile-price{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
.single-item-profile-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
    margin-bottom: 5px;
  }
  
.single-item h3{
    margin: 0;
    font-size: 16px;
    margin-bottom: 5px;
    color: #8C281F;
  }
  
.single-item p{
    margin: 0;
    font-size: 11px;
  }
  
p.single-item-description{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5em;
    max-height: calc(1.5em * 3);
  }