.dots-container {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translate(-50%, -50%);
}

.dot {
  width: 15px;
  height: 15px;
  margin: 0 5px;
  padding: 5px;border: 2px solid #F2F2F2;
  border-radius: 50%;
  background-color: #F2F2F2;
  cursor: pointer;
  box-sizing: border-box;
  transition-duration: .3s;
}

.dot.active {
  background-color: #D94A4A;
}

.single-item-gallery-container{
  position: relative;
}

.yarl__thumbnails_track{
  /* transform: none !important; */
  /* transform: translateX(0);
  transition-duration: 0s !important; */
}