body{
  padding: 0;
  margin: 0;
}

a{
  text-decoration: none;
  cursor: pointer;
}

button{
  cursor: pointer;
}

ul{
  list-style: none;
  font-size: 18px;
}

header{
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}

footer{
  color: white;
}

header ul{
  display: flex;
  align-items: center;
  gap: 30px;
  margin: 0;
}

.hero-container{
  height: 100vh;
  box-sizing: border-box;
  padding: 0px 20px;
  background: rgb(49,25,86);
  background: linear-gradient(135deg, rgba(49,25,86,1) 30%, rgba(255,125,26,1) 100%);
}

.home-top-container{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-top-center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-top-center-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 250px;
  width: 100%;
}

.slogan{
  font-size: 48px;
  text-align: center;
}

.home-btn{
  width: 20%;
  height: 300px;
  padding: 10px 20px;
  font-size: 40px;
  font-weight: bold;
  outline: unset;
  border: unset;
  color: white;
  background-color: rgba(255,125,26,1);
}

.footer-container{
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  padding: 40px 60px;
  background: rgb(49,25,86);
  background: linear-gradient(135deg, rgba(49,25,86,1) 30%, rgba(255,125,26,1) 100%);
  margin: 0;
}

.footer-container a{
  color: white;
}

.image{
  height: 50px;
  width: auto;
}

.hr{
  width: 10%;
}

.privacy-terms-container{
  text-align: left;
  padding: 25px;
  width: 60%;
  margin: 0 auto;
}

.home-body{
  background-color: #eee;
  height: 1000px;
}